@import "../../styles/vars.scss";

.paragraph {
  font-size: 24px;
  font-weight: 400;
  width: 100%;
  div {
    width: 100%;
  }
  @media screen and (max-width: $mobile) {
    font-size: 13px;
  }
}

.bold {
  font-weight: bold;
}
