@import "../../styles/vars.scss";

.menuContainer {
  max-width: 620px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  .menuItem {
    .menuTitle {
      font-size: 80px;
      font-weight: 700;

      @media screen and (max-width: $mobileAlb) {
        font-size: 48px;
      }

      @media screen and (max-width: $mobile) {
        font-size: 40px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
    .menuDescription {
      color: #d9d9d9;
      font-size: 26px;
      font-weight: 400;

      @media screen and (max-width: $mobileAlb) {
        font-size: 20px;
      }

      @media screen and (max-width: $mobile) {
        font-size: 16px;
      }
    }
  }
}
