@import "../../styles/vars.scss";

.error {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  @media screen and (max-width: $mobileAlb) {
    font-size: 48px;
  }

  @media screen and (max-width: $mobile) {
    font-size: 36px;
  }
}
.color {
  color: #000;
}
