@font-face {
  font-family: "Lora";
  font-weight: normal;
  font-style: normal;

  src: url("../assets/fonts/Lora-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  font-weight: bold;
  font-style: normal;

  src: url("../assets/fonts/Lora-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  font-weight: 600;
  font-style: normal;

  src: url("../assets/fonts/Lora-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  font-weight: 500;
  font-style: normal;

  src: url("../assets/fonts/Lora-Medium.ttf") format("truetype");
}
