$tabletAlb: 1280px;
$tablet: 1000px;
$mobileAlb: 768px;
$mobile: 480px;

// @media screen and (max-width: $tabletAlb) {
// }

// @media screen and (max-width: $tablet) {
// }

// @media screen and (max-width: $mobileAlb) {
// }

// @media screen and (max-width: $mobile) {
// }
