@import "../../styles/vars.scss";

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 30px;

  @media screen and (max-width: $mobileAlb) {
    padding-bottom: 15px;
  }

  .headerItem {
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }

    @media screen and (max-width: $tablet) {
      font-size: 15px;
    }

    @media screen and (max-width: $mobileAlb) {
      font-size: 10px;
    }

    @media screen and (max-width: $mobile) {
      &:nth-child(5) {
        display: none;
      }
      &:nth-child(7) {
        display: none;
      }
    }
  }
}
.linetop {
  background-color: #fff;
  width: 100vw;
  height: 2px;
  margin-bottom: 50px;

  @media screen and (max-width: $tablet) {
    margin-bottom: 30px;
  }

  @media screen and (max-width: $mobile) {
    margin-bottom: 15px;
  }
}

.linebot {
  background-color: #fff;
  width: 100vw;
  height: 2px;
  margin-top: 50px;

  @media screen and (max-width: $tablet) {
    margin-top: 30px;
  }

  @media screen and (max-width: $mobile) {
    margin-top: 15px;
  }
}
.title {
  width: 100%;
  font-size: 128px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $tabletAlb) {
    font-size: 96px;
  }

  @media screen and (max-width: $tablet) {
    font-size: 64px;
  }

  @media screen and (max-width: $mobileAlb) {
    font-size: 42px;
  }
}

.footer {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media screen and (max-width: $mobileAlb) {
    gap: 15px;
  }
  .footerLink {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 400;
    @media screen and (max-width: $tabletAlb) {
      font-size: 24px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 16px;
    }

    // @media screen and (max-width: $mobileAlb) {
    // }

    @media screen and (max-width: $mobile) {
      font-size: 14px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
  .footerDescription {
    font-family: "Roboto";
    font-size: 48px;
    font-weight: 400;
    @media screen and (max-width: $tabletAlb) {
      font-size: 36px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 26px;
    }

    @media screen and (max-width: $mobileAlb) {
      font-size: 17px;
    }

    @media screen and (max-width: $mobile) {
      font-size: 14px;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  @media screen and (max-width: $mobile) {
    margin-top: 15px;
  }
}

.digestContent {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  @media screen and (max-width: $mobileAlb) {
    gap: 30px;
  }

  @media screen and (max-width: $mobile) {
    gap: 15px;
  }

  .digestItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &:hover {
      .digestContentText {
        text-decoration: underline;
      }
    }
    .digestContentText {
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      -ms-line-clamp: 5;
      -webkit-line-clamp: 5;
      line-clamp: 5;
      font-family: "Roboto";
      font-size: 20px;
      font-weight: 400;
      display: -webkit-box;
      display: box;
      word-wrap: break-word;
      -webkit-box-orient: vertical;
      box-orient: vertical;
      touch-action: none;
      -ms-touch-action: none;
      @media screen and (max-width: $mobileAlb) {
        font-size: 10px;
      }
    }
    .info {
      width: 100%;
      display: flex;
      height: 95px;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      @media screen and (max-width: $mobileAlb) {
        height: 40px;
      }
      .author {
        font-family: "Roboto";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        @media screen and (max-width: $mobileAlb) {
          font-size: 10px;
        }
      }
      .name {
        font-family: "Roboto";
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        @media screen and (max-width: $mobileAlb) {
          font-size: 10px;
        }
      }
    }
  }
}
.linebottom {
  background-color: #fff;
  width: 100vw;
  height: 2px;
}
