@import "../../styles/vars.scss";

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
  @media screen and (max-width: $tablet) {
    margin-bottom: 35px;
  }

  @media screen and (max-width: $mobileAlb) {
    margin-bottom: 20px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 10px;
  }
  a {
    text-decoration: none;
    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    color: #fff;
    &:hover {
      text-decoration-line: underline;
    }

    @media screen and (max-width: $tablet) {
      font-size: 24px;
      line-height: 31px;
    }

    @media screen and (max-width: $mobileAlb) {
      font-size: 20px;
      line-height: 26px;
    }

    @media screen and (max-width: $mobile) {
      font-size: 15px;
      line-height: 19px;
    }
  }
}
.color {
  a {
    color: black;
  }
}
