@import "../../styles/vars.scss";

.footer {
  display: flex;
  align-items: center;
  gap: 40px;

  @media screen and (max-width: $mobileAlb) {
    gap: 15px;
  }

  .logo {
    svg {
      width: 60px;
      height: 60px;
    }
    width: 60px;
    height: 60px;
    &:nth-child(3) {
      width: 100px;
      height: 100px;
      svg {
        width: 100px;
        height: 100px;
      }

      @media screen and (max-width: $mobileAlb) {
        svg {
          width: 70px;
          height: 70px;
        }
        width: 70px;
        height: 70px;
      }
    }
    @media screen and (max-width: $mobileAlb) {
      svg {
        width: 30px;
        height: 30px;
      }
      width: 30px;
      height: 30px;
    }
  }
}
